* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}

#main-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#menu-button,
#search-button {
    width: 3rem;
    height: 2rem;
    font-size: 2rem;
    color: var(--color-primary);
}

#logo-container {
    max-height: 5rem;
    flex-grow: 2;
}

#header-logo {
    width: 100%;
    max-width: 12.5rem;
}

#main-menu {
    margin-right: 2rem;
    color: var(--color-primary);
}

#localist-menu-container,
#search-container,
.menu {
    display: none;
}

#search-container.open,
.menu.open {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#search-container {
    margin: 1rem 0;
}

.menu li,
.submenu li {
    width: 100%;
}

#footer-links,
.menu {
    padding: 0;
}

#footer-links li,
.menu li {
    list-style: none;
}


#localist-content {
    display: flex;
    flex-wrap: wrap;
}

#localist-content > * {
    float: none;
}

.menu li {
    text-align: right;
}

.menu li a {
    text-decoration: none;
    color: inherit;
}

.toggle {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    color: inherit;
    outline: none;
    cursor: pointer;
}

.submenu {
    border-right: 2px solid var(--color-primary);
    padding-right: 0.5rem;
}

.submenu li a {
    color: initial;
}

.toggle-submenu {
    font: inherit;
}

.toggle-submenu::after {
    content: "\25bc";
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.15rem;
    font-size: 0.75rem;
}

#social-icons {
    background-color: #f5f7f4;
    display: flex;
    max-width: 20rem;
    justify-content: space-around;
    margin: 0 auto;
}

.social-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-size: 2rem;
}

#social-icon-twitter {
    background-color: #fcb1b7;
}

#social-icon-facebook {
    background-color: #ced21d;
}

#social-icon-pinterest {
    background-color: #ffbe67;
}

#social-icon-instagram {
    background-color: #abcde8;
}

#social-icon-google-plus {
    background-color: #e891d0;
}

#social-icon-email {
    background-color: #929290;
}

#powered-by {
    display: table;
    margin: 0 auto;
}

#powered-by > * {
    display: table-cell;
    vertical-align: middle;
}

#footer-links li,
#powered-by {
    text-align: center;
    color: var(--color-primary);
}

/* Hidden until the app is actually available */
#app-info {
    display: none;
}

@media (min-width: 768px) {
    #menu-container {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        margin-right: 0;
    }

    #main-menu {
        order: 1
    }

    #search-container {
        order: 2;
        margin: 0;
    }

    #menu-button,
    #search-button {
        display: none;
    }

    .toggle-submenu {
        min-width: 4.5rem;
    }

    .toggle-submenu::after {
        position: static;
    }

    #search-container,
    .menu:not(.submenu) {
        display: flex;
        justify-content: flex-start;
    }

    .submenu {
        border-left: 2px solid var(--color-primary);
        padding-left: 0.5rem;

        border-right: none;
        padding-right: 0;
    }

    .submenu.open {
        flex-wrap: nowrap;
        flex-direction: column;
    }


    .menu li {
        width: auto;
        text-align: left;
    }

    .menu:not(.submenu) > li:not(:last-child) {
        margin-right: 1rem;
    }
}

/* Localist fixes */
#main-menu .logout {
    display: list-item !important;
}

.search_action {
    width: 100%;
}

.search_action [name="search"] {
    flex-grow: 2;
    min-width: 12rem;
    margin-right: 0.5rem;
}

#menu,
#lclst_footer {
    display: none;
}

.grid_container {
    padding: 0;
}

#topsearch {
    display: flex;
}

#top-submit {
    margin: 0;
}

.sponsored {
    background-color: var(--color-tertiary);
}
